<h1>Test 1 Angular by @KeS334</h1>
<div id="container">
  <div *ngFor="let item of date" class="item">
    <img src="{{item.img}}" alt="">
    <p class="name">{{item.name}}</p>
    <p class="brand"><strong>Brand: </strong>{{item.brand}}</p>
    <p class="category"><strong>Category: </strong>{{item.bsr_category}}</p>
    <p class="price"><strong>Price: </strong>{{item.price}} {{item.currency}}</p>
    <a target="_blank" href={{item.link}}>Просмотреть</a>
  </div>
</div>


<router-outlet></router-outlet>
